.fa-angle-double-up {
    font-size: 30px;
}

.fa-user-times {
    font-size: 20px;
    padding-top: 5px;
}
.fa-user-times:hover{
    font-size:30px;
}
.fa-angle-double-up:hover {
    font-size: 40px;
}

.fa-angle-double-down {
    font-size: 30px;
}

.fa-angle-double-down:hover {
    font-size: 40px;
}

#admin-loading {
    position: relative;
    left: 45%;
}